@charset "UTF-8";

h1{
    color:blue;
    background-color: blue;
}
h2 {
    color: darkgrey;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: cyan;
    font-size:xx-large;
    font-family: inherit;
}